.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox__imageInput {
  border: none;
  padding: 15px;
}

.profileBox {
    display: flex;
    padding-top: 20px;
}

.profileBoxUser {
  margin-top: 5%;
}

