.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}
.sidebarOption > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

/* a.sidebarOption:visited {
  color: inherit;
} */

/* .sidebarOption--active {
  color: var(--twitter-color);
} */

a.sidebarOption {
  text-decoration: none;
  color: #000;
}

a.sidebarOption:visited {
  color: #000;
}

a.sidebarOption--active{
  color: var(--twitter-color) !important;
}